attrs==19.1.0
blis==0.2.4
certifi==2022.12.7
chardet==3.0.4
cymem==2.0.2
Django==2.2.13
django-cors-headers==3.0.2
en-core-web-sm==2.1.0
idna==2.8
joblib==0.13.2
jsonschema==3.0.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.16.4
plac==0.9.6
preshed==2.0.1
pyrsistent==0.15.2
pytz==2019.1
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
spacy==2.1.4
sqlparse==0.3.0
srsly==0.0.7
thinc==7.0.4
tqdm==4.32.2
urllib3==1.25.3
wasabi==0.2.2
